@charset "UTF-8";

*{
	box-sizing: border-box;
}

body {
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:95%;
	height: 100%;
}


.container {
	max-width:600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	text-align: center;
}

.container div.box{
	width:280px;
	margin-left:10px;
	margin-right:10px;
	text-align: center;
	float: left;
}

.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
